.chat_window {
    width: calc(100% - 20px);
    max-width: 800px;
    height: calc(100vh - 60px);
    border-radius: 10px;
    margin: 30px auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}